/* set the body's background color */
body{
    background-color: #fafafa;
  }

/*set navbar text color to white  */
.navbar-brand{
    color:#fff !important;
}

.nav-link {
    color: #fff !important;
}

/* set image styling */
.image {
    height: 300px;
    width: 100%;
    background-image: url("../../static/resources/image.jpeg");
    background-size: 100% 170%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    box-shadow: 0 0 18px 2px #888;
}
/* style the predictions page image */
img {
    border-radius: 4px;
}

#info{
    background-color:rgb(233, 230, 230);
    padding:4px
}

/* navbar styling */
.navbar-light{
background-color:#444;
}

/* set header fonts */
h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header{
    text-align: center;
}

/* footer styles */
.footer {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
text-align: center;
background-color: #444;
color:#fff;
height: 30px;
font-size: 85%;
}

/* add padding to the wrapper for small screens */
.content-wrapper {
padding-bottom: 60px;
}


/* header styles */
h6 {
padding:10px;
text-align: center;
background-color:lightgray;
}

/* row class padding  */
.row{
padding-top:40px;
padding-bottom: 40px;
}

/* links colors */
a{
color: black;
}

/* set links icon left margin */
i {
margin-left: 5px;
}

/* add legend styles */
.legend {
line-height: 18px;
color:rgb(63, 62, 62);
background-color:white;
padding:3px
}
.legend i {
width: 18px;
height: 18px;
float: left;
margin-right: 8px;
opacity: 0.7;

}

/* .popup {
pointer-events: none;
} */

/* small screen adjustments*/
@media(max-width:992px){

    #navbarSupportedContent {
        display: block;
    }

    #map {
        top: 172px;
    }

    .subtitle {
        height: 36px;
        font-size: 85%;
    }
    }

    @media(max-width:767px){
    .thumbnail{
        width: 40%
    }

    #map {
        top: 172px;
    }

    .subtitle {
        height: 36px;
        font-size: 65%;
    }
}
