<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Renewable Energy</title>
    <!-- bootstrap and css stylesheet link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="stylesheet" href="../static/css/style.css">

    <!-- Leaflet CSS & JS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
    integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
    crossorigin=""></script>

    <!--D3 cdn-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>

    <!--Numeral.js cdn-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>

</head>
    
<body>
    <!--Navbar adjustments-->
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">  
            <a class="navbar-brand" href="/" >RENEWABLE PREDICTION</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">    
                    <li class="nav-item">
                        <a class="nav-link" href ="#sec1">US VISUALIZATIONS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#sec2">STATES VISUALIZATIONS</a>
                    </li>
                </ul>
            </div>   
        </div>
    </nav>
    <!-- cretae a div for the image -->
    <div class="image"></div>
    <!-- create a container -->
    <div class="container content-wrapper">
        
        <!-- row for the general information annd map -->
        <div class="row">
            <div class="col-md-4">
                <h3 class="header">Seeing Renewable Energy in 2020... and Beyond</h3>
                <br>
                <p>Renewable energy production is a rapidly growing industry. As a result of new technologies which have made it commercially viable to harness energy from solar, wind, and geothermal sources, renewable energy has the potential to provide 80% of US electricity by 2050.</p>
                <br>
                <p>However, renewable energy production has been notoriously difficult to predict because it depends upon highly variable natural forces like available wind and sunlight.</p>
                <br>
                <p>Until recently forecasting renewable energy production seemed out of reach.  With advances in machine learning, we can make accurate prediction of renewable energy production and price a reality.</p>
                <br>
                <p>Our Machine Learning Models use data from the <u><a href="https://www.eia.gov/" target="_blank">U.S. Energy Information Administration</a></u> to forecast the Difference between Total Renewable Energy Production and Total Energy Consumption at the National and State levels for the United States.</p>
            </div>
            <div class="col-md-8" id="map"></div>
        </div>
        
        <hr>

        <!-- create new row for us visualizations -->
        <div class="row">
            <div class="col-md-12">
                <h4 class="header" id="sec1">U.S. Annual Renewable Energy Production vs Total Energy Consumption</h4>
                <div id="plot1"></div>
            </div>
        </div>

        <hr>
        <div class="row">
            <div class="col-md-12">
                <h4 class="header">U.S. Annual Difference </h4>
                <div id="plot"></div>
            </div>
        </div>
        
        <hr>

        <!-- create new row for the dropdown menu -->
        <div class="row">
            <div class="col-md-12">
                <h4 class="header" id="sec2">Renewable Energy Predictions for States</h4>
                <div class="well">
                    <h5>State</h5>
                    <select id="selDataset" onchange="stateChange(this.value)"></select>
                </div> 
            </div>
        </div>

        <!-- create a new row for the charts -->
        <div class="row">
            <!-- create a div for the second plot -->
            <div class="col-md-8">
                <div id="plot2"></div>
            </div>
            <!-- create a div for the third plot -->
            <div class="col-md-4">
                <div id="plot3"></div>
            </div>
        </div>
        
        <hr>
        
        <!-- new row for the questions and the data links -->
        <div class="row">
            <div class="col-md-7">
                <h4>Our APIs</h4>
                <p>Want a closer look at our project? Check out our data APIs with the following links:</p>
                <li><a href="https://project3-renewable.herokuapp.com/api/state_energy" target="_blank">U.S. States' Energy Data<i class="fas fa-external-link-alt"></i></a></li>
                <li><a href="https://project3-renewable.herokuapp.com/api/us_energy" target="_blank">U.S. National Energy Data<i class="fas fa-external-link-alt"></i></a></li>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-4">
                <img src="../static/resources/data-pipe.jpg" width="100%">
            </div>
        </div>
        
        <hr>

        <div class="row">
            <div class="col-md-5">
                <div class="data">
                    <div class="thumbnail">
                        <img src= "../static/resources/ai.jpg" width="80%">
                    </div>
                </div>   
            </div>    
            <div class="col-md-1"></div>
            <div class="col-md-6">
                <!-- header for the links -->
                <h4 class="header2">Data Sources</h4>
                <!-- list of links -->
                <li><a href="https://www.eia.gov/state/seds/seds-data-complete.php?sid=US#Consumption" target="_blank">EIA.gov - U.S. Consumed Energy by State: 1960-2017 <i class="fas fa-external-link-alt"></i></a></li>

                <li><a href="https://www.eia.gov/state/seds/seds-data-complete.php" target="_blank">EIA.gov - U.S. Renewable Energy Production by State: 1960-2017 <i class="fas fa-external-link-alt"></i></a></li>

                <li><a href="https://www.eia.gov/state/seds/seds-data-complete.php?sid=US#PricesExpenditures" target="_blank">EIA.gov - U.S. Energy Prices by State: 1960-2017 <i class="fas fa-external-link-alt"></i></a></li>
                                
                <li><a href="https://www.kaggle.com/washimahmed/usa-latlong-for-state-abbreviations" target="_blank">Kaggle.com - States Latitude and Longitude <i class="fas fa-external-link-alt"></i></a></li>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="footer font-small footer-dark">
        <div class="footer-copyright text-center py-1">© Copyright Coding Bootcamp 2019</div>      
    </footer>

    <!--plotly-->
    
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    
    <!-- our js files -->
    <script type="text/javascript" src= "../static/js/logic.js"></script>
    <script type="text/javascript" src = "../static/js/plots.js"></script>

    <!-- map configurations -->
    <!-- API key -->
    <script>
        var API_KEY = "{{API_KEY}}";
    </script>
    
    <!--GeoJSON States Data-->
    <script type="text/javascript" src="../static/js/states.js"></script>
    
    <!--JS-->
    <script type="text/javascript" src="../static/js/map.js"></script>

    

</body>
</html>

